html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5; }

#app-wrap {
  position: fixed;
  top: 0;
  left: 0; }
  #app-wrap.book {
    overflow: hidden; }
  #app-wrap.iOS {
    overflow: auto !important;
    position: relative; }
  #app-wrap.single #book-bottom {
    width: 488px; }
  #app-wrap.scroll {
    position: relative;
    top: auto;
    left: auto; }
    #app-wrap.scroll #headerbar {
      display: none; }
    #app-wrap.scroll #side-tabs {
      display: none !important; }
    #app-wrap.scroll .page {
      margin: 5px auto;
      height: 680px; }
      #app-wrap.scroll .page.p1, #app-wrap.scroll .page.p2 {
        display: none; }
    #app-wrap.scroll nav {
      display: none; }

#whiteout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #e5e5e5; }

#context {
  position: absolute;
  bottom: 694px;
  left: 0;
  color: black;
  font-size: 12px;
  padding: 29px; }
  #context a {
    color: black;
    text-decoration: none; }
  #context h4 {
    font-size: 16px;
    font-weight: bold;
    display: inline; }
  #context ul {
    display: none; }
  #context li {
    display: none; }

#headerbar {
  height: 36px;
  background-color: #9c544d;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 0.85em; }
  #headerbar > .section {
    padding: 10px 0 0 230px; }

#toc-toggle {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 215px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #0093d0;
  color: white;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 50; }

#toc {
  display: none;
  width: 360px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: white; }
  #toc .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 5px 8px;
    background: #eeeeee;
    font-size: 10px;
    text-transform: uppercase;
    z-index: 2;
    display: block; }
  #toc .wrap {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    background: white; }
    #toc .wrap span {
      padding: 2px 3px;
      display: block;
      color: #444444; }
      #toc .wrap span.blue {
        color: #0093d0; }
      #toc .wrap span:hover {
        background: #dedede; }
    #toc .wrap > ul {
      padding: 16px 14px; }
      #toc .wrap > ul li {
        border-bottom: 1px solid #dddddd;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        cursor: pointer;
        padding: 8px 0; }
        #toc .wrap > ul li.title {
          border: none;
          padding: 10px 7px; }
          #toc .wrap > ul li.title.blue {
            background: #1594d0; }
          #toc .wrap > ul li.title.burg {
            background: #9b544e; }
          #toc .wrap > ul li.title.gray {
            background: #818285;
            margin-bottom: 20px; }
        #toc .wrap > ul li.omega {
          border-bottom: none; }
        #toc .wrap > ul li h2 {
          font-size: 16px;
          font-weight: bold;
          color: white !important; }
        #toc .wrap > ul li ul {
          list-style: disc;
          margin-left: 15px;
          padding-top: 2px; }
        #toc .wrap > ul li li {
          font-weight: normal;
          border: 0;
          padding: 0 0 4px;
          margin-left: 5px; }

#side-tabs {
  position: absolute;
  right: -16px;
  top: 30px;
  height: 671px;
  width: 45px;
  z-index: 2;
  background: url(../images/tabs.png) no-repeat; }
  #side-tabs li {
    width: 45px;
    position: absolute;
    left: 0;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/tabs.png) no-repeat; }
    #side-tabs li.tab-0 {
      background-position: 0 0;
      height: 179px;
      top: 0; }
      #side-tabs li.tab-0:hover {
        background-position: -46px 0; }
    #side-tabs li.tab-1 {
      background-position: 0 -179px;
      height: 101px;
      top: 179px; }
      #side-tabs li.tab-1:hover {
        background-position: -46px -179px; }
    #side-tabs li.tab-2 {
      background-position: 0 -280px;
      height: 128px;
      top: 280px; }
      #side-tabs li.tab-2:hover {
        background-position: -46px -280px; }

#book-left {
  position: absolute;
  left: 17px;
  top: 30px;
  height: 670px;
  width: 12px;
  z-index: 2;
  background: url(../images/book-left_bg.png) no-repeat 0 0 transparent; }

#book-bottom {
  width: 976px;
  height: 11px;
  background: url(../images/book-bottom_bg.png) no-repeat 0 0 transparent; }

#book-wrap {
  margin: 0 auto;
  z-index: 5;
  display: none; }

#book-matte {
  background: #a0a0a0;
  padding: 29px;
  box-shadow: 5px 5px 5px #777777;
  position: relative;
  float: right;
  z-index: 1; }

#book {
  position: relative;
  z-index: 1;
  background: #777777; }

.arrow-button {
  background: url(../images/arrow-button.png) no-repeat;
  width: 144px;
  height: 45px;
  display: block;
  cursor: pointer;
  padding: 0 0 0 68px;
  line-height: 45px;
  color: #444444 !important;
  font-size: 15px;
  position: absolute;
  bottom: 35px;
  left: 35px; }
  .arrow-button:hover {
    background-position: 0 -45px; }

ul.big-buttons {
  width: 254px !important;
  margin: 0 auto !important;
  padding-top: 114px !important;
  list-style: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  ul.big-buttons li {
    display: block;
    width: 197px;
    height: 57px;
    font-size: 15px !important;
    padding: 0 0 0 57px !important;
    background: url(../images/buttons.png);
    cursor: pointer;
    line-height: 52px !important;
    margin: 0 0 13px !important; }
    ul.big-buttons li.multiline {
      line-height: 16.5px !important;
      padding: 9px 0 9px 57px !important;
      height: 39px !important; }
    ul.big-buttons li:hover, ul.big-buttons li.on {
      background-position: 0 -57px; }

ul.small-buttons {
  width: 192px !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  bottom: 25px;
  left: 35px; }
  ul.small-buttons li {
    display: block;
    width: 144px;
    height: 39px;
    font-size: 13px !important;
    padding: 0 0 0 48px !important;
    background: url(../images/small-button.png);
    cursor: pointer;
    line-height: 39px !important;
    margin: 0 0 11px !important; }
    ul.small-buttons li:hover, ul.small-buttons li.on {
      background-position: 0 -39px; }

div.page {
  width: 488px;
  height: 660px;
  background: white;
  color: #444444;
  position: relative; }
  div.page.gray-bg {
    background: #818285 !important;
    color: white; }
    div.page.gray-bg h3 {
      color: white; }
  div.page h3 {
    font-weight: bold;
    font-size: 19px;
    line-height: 22.4px;
    margin: 0 0 15px;
    padding: 32px 35px 0; }
  div.page h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding-top: 0;
    padding: 0 35px 13px; }
  div.page p.disclaimer {
    padding: 0 35px 30px !important;
    font-size: 10px !important;
    line-height: 11.4px !important;
    position: absolute;
    bottom: 0;
    left: 0; }
  div.page ul {
    list-style: disc;
    padding: 0 35px;
    margin: -9px 0 13px; }
    div.page ul.lined-border {
      list-style: none;
      border-top: 1px solid #dddddf;
      padding: 0;
      width: 404px;
      margin: -9px auto 20px !important; }
      div.page ul.lined-border li {
        padding: 10px 12px 6px;
        border-bottom: 1px solid #dddddf;
        margin: 0; }
  div.page ol {
    list-style: decimal;
    padding: 0 35px;
    margin: -9px 0 13px; }
  div.page strong {
    font-weight: bold; }
  div.page a {
    text-decoration: none;
    color: #828282; }
    div.page a[rel=tooltip] {
      cursor: pointer; }
  div.page.sect-0 p, div.page.sect-0 li {
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 16.4px;
    padding: 0 35px; }
  div.page.sect-0 li {
    padding: 0;
    margin: 0 0 3px 14px; }
  div.page.sect-0 h2,
  div.page.sect-0 h3,
  div.page.sect-0 h4 {
    color: #9b544e !important; }
  div.page.sect-1 h2,
  div.page.sect-1 h3, div.page.sect-2 h2,
  div.page.sect-2 h3 {
    color: #9b544e !important; }
    div.page.sect-1 h2.padded,
    div.page.sect-1 h3.padded, div.page.sect-2 h2.padded,
    div.page.sect-2 h3.padded {
      padding-top: 32px; }
  div.page.sect-1 h2, div.page.sect-2 h2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 15px;
    padding: 32px 35px 0; }
  div.page.sect-1 h3, div.page.sect-2 h3 {
    padding-top: 0; }
  div.page.sect-1 h4, div.page.sect-2 h4 {
    color: #1594d0; }
  div.page.sect-1 ul, div.page.sect-2 ul {
    margin: 0 0 20px; }
    div.page.sect-1 ul.w-p, div.page.sect-2 ul.w-p {
      margin-top: -16px; }
  div.page.sect-1 p, div.page.sect-1 li, div.page.sect-2 p, div.page.sect-2 li {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 19px;
    padding: 0 35px;
    clear: both; }
  div.page.sect-1 li, div.page.sect-2 li {
    padding: 0;
    margin: 0 0 3px 14px; }
  div.page.sect-1 .blue, div.page.sect-2 .blue {
    color: #0093d0;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    padding: 0 35px;
    line-height: 19px; }
  div.page.burgundy-bg {
    background: #9b544e url(../images/burgundy-page-bg.png) repeat-y; }
  div.page.blue-bg {
    background: #9b544e url(../images/blue-page-bg.png) repeat-y; }

div.page.title-0.sect-0 {
  background: url(../images/cover-bg.png); }
div.page.pg-l div.bubble, div.page.pg-k div.bubble {
  -webkit-border-top-left-radius: 11px;
  -webkit-border-bottom-left-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-bottomleft: 11px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  overflow: hidden;
  margin: 0 auto 12px;
  width: 440px;
  color: black;
  background: #f3f3f4; }
  div.page.pg-l div.bubble h4, div.page.pg-k div.bubble h4 {
    width: 43px;
    height: 100%;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    padding: 0 !important; }
  div.page.pg-l div.bubble h5, div.page.pg-k div.bubble h5 {
    font-weight: bold;
    font-size: 15px;
    padding: 8px 15px 5px 58px;
    color: #9b544e; }
  div.page.pg-l div.bubble ul, div.page.pg-k div.bubble ul {
    padding: 0 15px 0 43px;
    margin: 0; }
  div.page.pg-l div.bubble li, div.page.pg-k div.bubble li {
    font-size: 11px;
    line-height: 12px;
    padding-bottom: 1px;
    margin-left: 29px; }
  div.page.pg-l div.bubble.b10, div.page.pg-k div.bubble.b10 {
    height: 338px; }
    div.page.pg-l div.bubble.b10 h4, div.page.pg-k div.bubble.b10 h4 {
      background: #9b544e url(../images/2010.png) 14px 17px no-repeat; }
  div.page.pg-l div.bubble.b11-12, div.page.pg-k div.bubble.b11-12 {
    height: 142px; }
    div.page.pg-l div.bubble.b11-12 h4, div.page.pg-k div.bubble.b11-12 h4 {
      background: #9b544e url(../images/11-12.png) 14px 17px no-repeat; }
  div.page.pg-l div.bubble.b13, div.page.pg-k div.bubble.b13 {
    height: 160px; }
    div.page.pg-l div.bubble.b13 h4, div.page.pg-k div.bubble.b13 h4 {
      background: #9b544e url(../images/13.png) 14px 17px no-repeat; }
  div.page.pg-l div.bubble.b14, div.page.pg-k div.bubble.b14 {
    height: 332px; }
    div.page.pg-l div.bubble.b14 h4, div.page.pg-k div.bubble.b14 h4 {
      background: #9b544e url(../images/14.png) 14px 17px no-repeat; }
  div.page.pg-l div.bubble.b15-18, div.page.pg-k div.bubble.b15-18 {
    height: 97px; }
    div.page.pg-l div.bubble.b15-18 h4, div.page.pg-k div.bubble.b15-18 h4 {
      background: #9b544e url(../images/15-18.png) 14px 8px no-repeat; }
div.page.pg-m span {
  font-size: 12px;
  padding: 3px 0 10px 21px;
  display: block;
  float: left;
  margin-left: 35px; }
  div.page.pg-m span.red {
    background: url(../images/check-red.png) left top no-repeat; }
  div.page.pg-m span.blue {
    background: url(../images/check-blue.png) left top no-repeat;
    color: #1594d0; }
div.page.pg-m table {
  border-bottom: 1px solid black;
  margin: 0 35px; }
div.page.pg-m .thead {
  background: #f3f3f4;
  border-top: 1px solid black; }
div.page.pg-m th {
  color: #9b544e;
  font-size: 14px;
  padding: 5px;
  font-weight: bold; }
  div.page.pg-m th.small {
    padding-top: 8px;
    font-size: 10px;
    color: #444444; }
div.page.pg-m tr {
  border-top: 1px solid #dddddf; }
  div.page.pg-m tr.alpha {
    border-top: none; }
div.page.pg-m td {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 13px; }
  div.page.pg-m td.year {
    vertical-align: middle;
    font-size: 10px; }
  div.page.pg-m td.check.red {
    background: url(../images/check-red.png) center center no-repeat;
    padding: 1px 17px; }
  div.page.pg-m td.check.blue {
    background: url(../images/check-blue.png) center center no-repeat;
    padding: 1px 4px 1px 27px;
    font-size: 10px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold; }
div.page.pg-m footer {
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  padding: 9px 35px 0 35px; }
div.page.pg-m h3, div.page.pg-n h3 {
  margin-top: -15px; }
div.page.pg-n ol {
  list-style: decimal;
  padding: 0 35px; }
div.page.pg-n strong {
  display: block; }
div.page.pg-n li {
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 14px; }
div.page.title-1.sect-1 {
  background: url(../images/overview-bg.png); }
