/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, sass/screen.sass */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5;
}

/* line 14, sass/screen.sass */
#app-wrap {
  position: fixed;
  top: 0;
  left: 0;
}
/* line 19, sass/screen.sass */
#app-wrap.book {
  overflow: hidden;
}
/* line 22, sass/screen.sass */
#app-wrap.scroll {
  overflow: auto;
}
/* line 25, sass/screen.sass */
#app-wrap.scroll #side-tabs {
  display: none !important;
}
/* line 28, sass/screen.sass */
#app-wrap.scroll .page {
  margin: 2px auto;
}

/* line 32, sass/screen.sass */
#whiteout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #e5e5e5;
}

/* line 39, sass/screen.sass */
nav {
  display: none;
  z-index: 10;
  position: relative;
}
/* line 44, sass/screen.sass */
nav > span {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 215px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
/* line 63, sass/screen.sass */
nav > ul {
  display: none;
  position: fixed;
  width: 215px;
  top: 50px;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-top-right-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  -moz-border-radius-bottomright: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
/* line 81, sass/screen.sass */
nav > ul li {
  padding: 4px 20px;
  border-bottom: 1px solid #c45e25;
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
}
/* line 88, sass/screen.sass */
nav > ul li.title {
  border: none;
  padding-bottom: 7px;
  padding-right: 0;
}
/* line 93, sass/screen.sass */
nav > ul li.title h2 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
}
/* line 98, sass/screen.sass */
nav > ul li ul {
  list-style: disc;
  margin-left: 15px;
  padding-top: 2px;
}
/* line 103, sass/screen.sass */
nav > ul li ul li {
  font-weight: normal;
  border: 0;
  padding: 0 0 2px;
}
/* line 108, sass/screen.sass */
nav > ul li.omega {
  border: 0;
  padding-bottom: 50px;
}
/* line 112, sass/screen.sass */
nav.cur {
  display: block;
}
/* line 115, sass/screen.sass */
nav.cur > ul {
  left: 0;
}
/* line 118, sass/screen.sass */
nav.fixed {
  position: initial;
}
/* line 121, sass/screen.sass */
nav.fixed > span {
  display: none;
}
/* line 124, sass/screen.sass */
nav.fixed > ul {
  position: absolute;
  left: -186px;
  top: 56px;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
/* line 143, sass/screen.sass */
nav.sect-0 > ul,
nav.sect-0 > span {
  background: url(../images/sect-0-nav-bg.png) repeat-y;
  color: #0292cf;
}
/* line 148, sass/screen.sass */
nav.sect-0 > ul li,
nav.sect-0 > span li {
  border-color: #0292cf;
}
/* line 151, sass/screen.sass */
nav.sect-0 > ul li h2,
nav.sect-0 > span li h2 {
  color: #0292cf;
}
/* line 155, sass/screen.sass */
nav.sect-1 > ul,
nav.sect-1 > span {
  background: url(../images/sect-1-nav-bg.png) repeat-y;
  color: #c45e25;
}
/* line 160, sass/screen.sass */
nav.sect-1 > ul li,
nav.sect-1 > span li {
  border-color: #c45e25;
}
/* line 163, sass/screen.sass */
nav.sect-1 > ul li h2,
nav.sect-1 > span li h2 {
  color: #c45e25;
}

/* line 166, sass/screen.sass */
#side-tabs {
  position: absolute;
  right: -16px;
  top: 42px;
  height: 520px;
  width: 45px;
  z-index: 2;
}
/* line 174, sass/screen.sass */
#side-tabs li {
  width: 45px;
  position: absolute;
  left: 0;
  display: none;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  background: url(../images/tabs.png) no-repeat;
}
/* line 186, sass/screen.sass */
#side-tabs li.tab-0 {
  background-position: 0 0;
  height: 188px;
  top: 0;
}
/* line 191, sass/screen.sass */
#side-tabs li.tab-0:hover {
  background-position: -46px 0;
}
/* line 194, sass/screen.sass */
#side-tabs li.tab-1 {
  background-position: 0 -188px;
  height: 114px;
  top: 188px;
}
/* line 199, sass/screen.sass */
#side-tabs li.tab-1:hover {
  background-position: -46px -188px;
}
/* line 202, sass/screen.sass */
#side-tabs li.tab-2 {
  background-position: 0 -302px;
  height: 188px;
  top: 302px;
}
/* line 207, sass/screen.sass */
#side-tabs li.tab-2:hover {
  background-position: -46px -302px;
}
/* line 210, sass/screen.sass */
#side-tabs.show-all li {
  display: block;
}
/* line 213, sass/screen.sass */
#side-tabs.sect-0 li.tab-0 {
  display: block;
}
/* line 216, sass/screen.sass */
#side-tabs.sect-1 li.tab-1 {
  display: block;
}
/* line 219, sass/screen.sass */
#side-tabs.sect-2 li.tab-2 {
  display: block;
}

/* line 224, sass/screen.sass */
#book-wrap {
  margin: 0 auto;
  z-index: 5;
  display: none;
}

/* line 229, sass/screen.sass */
#book-matte {
  background: #a0a0a0;
  padding: 29px;
  box-shadow: 5px 5px 5px #777777;
  position: relative;
  float: right;
  z-index: 1;
}

/* line 237, sass/screen.sass */
#book {
  box-shadow: 5px 5px 5px #666666;
  position: relative;
  z-index: 1;
}

/* line 247, sass/screen.sass */
body.double div.page.even {
  background: white url(../images/page-middle-left.png) top right repeat-y;
}
/* line 250, sass/screen.sass */
body.double div.page.odd {
  background: white url(../images/page-middle-right.png) top left repeat-y;
}

/* line 254, sass/screen.sass */
.blue-button {
  border: 2px solid #48b6e2;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #008fce url(../images/blue-button-bg.png) center center repeat-x;
  padding: 5px 0 !important;
  width: 245px;
  display: block;
  color: white;
  font-size: 15px !important;
  line-height: 16.4px !important;
  text-align: center;
  margin: 12px auto 0 !important;
}
/* line 271, sass/screen.sass */
.blue-button.big {
  font-size: 17px !important;
}
/* line 274, sass/screen.sass */
.blue-button.one-line {
  line-height: 35px !important;
  height: 35px !important;
  padding: 0 !important;
}

/* line 282, sass/screen.sass */
div.page {
  width: 494px;
  height: 660px;
  background: white;
  color: #444444;
  position: relative;
}
/* line 290, sass/screen.sass */
div.page.cover {
  width: 500px;
  height: 666px;
  border: 0;
  background: url(../images/cover-bg.jpg) !important;
}
/* line 296, sass/screen.sass */
div.page.gray-bg {
  background: #414042 !important;
  color: white;
}
/* line 300, sass/screen.sass */
div.page.gray-bg h3 {
  color: white;
}
/* line 303, sass/screen.sass */
div.page.cover img {
  margin: 0 auto;
  display: block;
}
/* line 309, sass/screen.sass */
div.page.intro h2, div.page.cover h2 {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0093d0;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 0 15px;
  padding-top: 34px;
}
/* line 318, sass/screen.sass */
div.page.intro h3, div.page.cover h3 {
  font-weight: bold;
  font-size: 23px;
  color: white;
  line-height: 26.4px;
  text-align: center;
  margin-bottom: 40px;
}
/* line 326, sass/screen.sass */
div.page.intro p, div.page.cover p {
  color: white;
  text-align: center;
  margin: 0 auto 15px;
  font-size: 15px;
  line-height: 22.4px;
}
/* line 334, sass/screen.sass */
div.page h3 {
  font-weight: bold;
  font-size: 19px;
  line-height: 22.4px;
  color: black;
  margin: 0 0 15px;
  padding: 32px 35px 0;
}
/* line 342, sass/screen.sass */
div.page footer {
  padding: 0 35px 50px;
  font-size: 11px;
  line-height: 12.4px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 350, sass/screen.sass */
div.page ul {
  list-style: disc;
  padding: 0 35px;
  margin: -9px 0 13px;
}
/* line 355, sass/screen.sass */
div.page strong {
  font-weight: bold;
}
/* line 360, sass/screen.sass */
div.page.sect-0 p, div.page.sect-0 li {
  margin-bottom: 13px;
  font-size: 13px;
  line-height: 16.4px;
  padding: 0 35px;
}
/* line 366, sass/screen.sass */
div.page.sect-0 li {
  padding: 0;
  margin: 0 0 3px 14px;
}
/* line 375, sass/screen.sass */
div.page.sect-1 h3, div.page.sect-2 h3 {
  padding-top: 0;
}
/* line 378, sass/screen.sass */
div.page.sect-1 ul, div.page.sect-2 ul {
  margin: 0 0 20px;
}
/* line 380, sass/screen.sass */
div.page.sect-1 ul.w-p, div.page.sect-2 ul.w-p {
  margin-top: -16px;
}
/* line 383, sass/screen.sass */
div.page.sect-1 p, div.page.sect-1 li, div.page.sect-2 p, div.page.sect-2 li {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 19px;
  padding: 0 35px;
  clear: both;
}
/* line 390, sass/screen.sass */
div.page.sect-1 li, div.page.sect-2 li {
  padding: 0;
  margin: 0 0 3px 14px;
}
/* line 394, sass/screen.sass */
div.page.sect-1 .blue, div.page.sect-2 .blue {
  color: #0093d0;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  padding: 0 35px;
  line-height: 19px;
}
/* line 402, sass/screen.sass */
div.page.sect-1 div.box, div.page.sect-2 div.box {
  background: #e5f4fa;
  float: right;
  width: 363px;
  padding: 20px 22px;
  margin-bottom: 20px;
  margin-right: 32px;
}
/* line 410, sass/screen.sass */
div.page.sect-1 div.box p, div.page.sect-2 div.box p {
  padding: 0;
}

/* line 420, sass/screen.sass */
div.page.pg-c {
  background: url(../images/sect-0-feat-photo.jpg) no-repeat !important;
}
/* line 424, sass/screen.sass */
div.page.pg-d .blue-button {
  margin-top: 200px !important;
}
/* line 427, sass/screen.sass */
div.page.pg-e {
  background: #3e3e3e url(../images/table.png) no-repeat !important;
}
/* line 430, sass/screen.sass */
div.page.pg-e h3 {
  text-align: left;
  color: white;
}
/* line 435, sass/screen.sass */
div.page.pg-f ol {
  margin-top: 22px;
  padding: 22px 32px 50px;
  background: white;
}
/* line 440, sass/screen.sass */
div.page.pg-f ol li {
  background: url(../images/number-bullets.png) no-repeat;
  font-size: 11px;
  line-height: 12px;
  color: #444444 !important;
  padding-left: 28px;
  min-height: 17px;
  margin-bottom: 13px;
}
/* line 449, sass/screen.sass */
div.page.pg-f ol li.one {
  background-position: 0 0;
}
/* line 452, sass/screen.sass */
div.page.pg-f ol li.two {
  background-position: 0 -87px;
}
/* line 455, sass/screen.sass */
div.page.pg-f ol li.three {
  background-position: 0 -122px;
}
/* line 458, sass/screen.sass */
div.page.pg-f ol li.four {
  background-position: 0 -182px;
}
/* line 461, sass/screen.sass */
div.page.pg-f ol li.five {
  background-position: 0 -228px;
}
/* line 464, sass/screen.sass */
div.page.pg-f ol li.six {
  background-position: 0 -288px;
}
/* line 467, sass/screen.sass */
div.page.pg-f ol li.seven {
  background-position: 0 -335px;
}
/* line 470, sass/screen.sass */
div.page.pg-f ol li.eight {
  background-position: 0 -371px;
}
/* line 473, sass/screen.sass */
div.page.pg-h.odd {
  background: #0093d0 url(../images/pg-h-bg.png) top right repeat-y !important;
}
/* line 476, sass/screen.sass */
div.page.pg-h.odd div.top-left {
  width: 272px;
  height: 152px;
  color: white !important;
  float: left;
  background: url(../images/pg-h-arrow-bottom.png) bottom center no-repeat;
}
/* line 483, sass/screen.sass */
div.page.pg-h.odd div.top-left p {
  padding: 23px 31px 20px;
  margin-bottom: 0;
}
/* line 487, sass/screen.sass */
div.page.pg-h.odd div.top-left strong {
  text-transform: uppercase;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  display: block;
}
/* line 494, sass/screen.sass */
div.page.pg-h.odd div.top-left ul {
  list-style-position: inside;
  padding-left: 31px;
}
/* line 498, sass/screen.sass */
div.page.pg-h.odd div.top-left ul li {
  padding-bottom: 3px;
  margin-bottom: 0;
}
/* line 502, sass/screen.sass */
div.page.pg-h.odd div.top-right {
  width: 228px;
  height: 152px;
  color: #0093d0 !important;
  float: right;
}
/* line 508, sass/screen.sass */
div.page.pg-h.odd div.top-right p {
  padding: 23px 0 20px 17px;
  margin-bottom: 0;
}
/* line 512, sass/screen.sass */
div.page.pg-h.odd div.top-right strong {
  text-transform: uppercase;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}
/* line 518, sass/screen.sass */
div.page.pg-h.odd div.top-right .blue-button {
  width: 184px;
  font-size: 15px;
  line-height: 16.4px;
  margin: 0 auto;
}
/* line 525, sass/screen.sass */
div.page.pg-h.odd div.white-part {
  clear: both;
  width: 100%;
  padding: 21px 0;
  background: white;
}
/* line 531, sass/screen.sass */
div.page.pg-h.odd div.white-part p {
  color: black;
  font-size: 15px;
  font-weight: bold;
  line-height: 16.4px;
  padding: 0 31px 5px;
  margin-bottom: 0;
}
/* line 539, sass/screen.sass */
div.page.pg-h.odd div.white-part ul {
  padding: 0 31px 5px;
  margin: 0 0 13px;
}
/* line 543, sass/screen.sass */
div.page.pg-h.odd div.white-part ul li {
  color: #444444;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  padding: 0 0 3px 0;
  margin: 0 0 0 14px;
}
/* line 555, sass/screen.sass */
div.page.pg-l div.bubble, div.page.pg-k div.bubble {
  -webkit-border-top-left-radius: 11px;
  -webkit-border-bottom-left-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-bottomleft: 11px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  overflow: hidden;
  margin: 0 auto 12px;
  width: 400px;
  color: black;
}
/* line 569, sass/screen.sass */
div.page.pg-l div.bubble h4, div.page.pg-k div.bubble h4 {
  width: 43px;
  height: 100%;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 576, sass/screen.sass */
div.page.pg-l div.bubble h5, div.page.pg-k div.bubble h5 {
  font-weight: bold;
  font-size: 15px;
  padding: 16px 15px 5px 58px;
}
/* line 581, sass/screen.sass */
div.page.pg-l div.bubble ul, div.page.pg-k div.bubble ul {
  padding: 0 15px 0 43px;
  margin: 0;
}
/* line 585, sass/screen.sass */
div.page.pg-l div.bubble li, div.page.pg-k div.bubble li {
  font-size: 11px;
  line-height: 12px;
  padding-bottom: 2px;
  margin-left: 29px;
}
/* line 591, sass/screen.sass */
div.page.pg-l div.bubble.blue, div.page.pg-k div.bubble.blue {
  height: 348px;
  background: #6cbfe6;
}
/* line 595, sass/screen.sass */
div.page.pg-l div.bubble.blue h4, div.page.pg-k div.bubble.blue h4 {
  background: #0093d0 url(../images/2010.png) 14px 17px no-repeat;
}
/* line 598, sass/screen.sass */
div.page.pg-l div.bubble.green, div.page.pg-k div.bubble.green {
  background: #adcc95;
  height: 142px;
}
/* line 602, sass/screen.sass */
div.page.pg-l div.bubble.green h4, div.page.pg-k div.bubble.green h4 {
  background: #62a740 url(../images/11-12.png) 14px 17px no-repeat;
}
/* line 605, sass/screen.sass */
div.page.pg-l div.bubble.light-green, div.page.pg-k div.bubble.light-green {
  margin-top: 38px;
  background: #d0dea6;
  height: 130px;
}
/* line 610, sass/screen.sass */
div.page.pg-l div.bubble.light-green h4, div.page.pg-k div.bubble.light-green h4 {
  background: #a6c254 url(../images/13.png) 14px 17px no-repeat;
}
/* line 613, sass/screen.sass */
div.page.pg-l div.bubble.orange, div.page.pg-k div.bubble.orange {
  background: #e0a57e;
  height: 362px;
}
/* line 617, sass/screen.sass */
div.page.pg-l div.bubble.orange h4, div.page.pg-k div.bubble.orange h4 {
  background: #c45e25 url(../images/14.png) 14px 17px no-repeat;
}
/* line 620, sass/screen.sass */
div.page.pg-l div.bubble.yellow, div.page.pg-k div.bubble.yellow {
  background: #f6d398;
  height: 97px;
}
/* line 624, sass/screen.sass */
div.page.pg-l div.bubble.yellow h4, div.page.pg-k div.bubble.yellow h4 {
  background: #ebac3a url(../images/15-18.png) 14px 8px no-repeat;
}
