/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p371@aca/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, sass/screen.sass */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5;
}

/* line 15, sass/screen.sass */
#app-wrap {
  position: fixed;
  top: 0;
  left: 0;
}
/* line 20, sass/screen.sass */
#app-wrap.book {
  overflow: hidden;
}
/* line 23, sass/screen.sass */
#app-wrap.iOS {
  overflow: auto !important;
  position: relative;
}
/* line 27, sass/screen.sass */
#app-wrap.scroll {
  position: relative;
  top: auto;
  left: auto;
}
/* line 32, sass/screen.sass */
#app-wrap.scroll #side-tabs {
  display: none !important;
}
/* line 35, sass/screen.sass */
#app-wrap.scroll .page {
  margin: 5px auto;
}
/* line 38, sass/screen.sass */
#app-wrap.scroll nav {
  display: none;
}

/* line 42, sass/screen.sass */
#whiteout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #e5e5e5;
}

/* line 49, sass/screen.sass */
#context {
  position: absolute;
  bottom: 694px;
  left: 0;
  color: black;
  font-size: 12px;
  padding: 29px;
}
/* line 57, sass/screen.sass */
#context a {
  color: black;
  text-decoration: none;
}
/* line 61, sass/screen.sass */
#context h4 {
  font-size: 16px;
  font-weight: bold;
  display: inline;
}
/* line 66, sass/screen.sass */
#context ul {
  display: none;
}
/* line 69, sass/screen.sass */
#context li {
  display: none;
}

/* line 72, sass/screen.sass */
#toc-toggle {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 215px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #0093d0;
  color: white;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 50;
}

/* line 94, sass/screen.sass */
#toc {
  display: none;
  width: 360px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: white;
}
/* line 103, sass/screen.sass */
#toc .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  padding: 5px 8px;
  background: #eeeeee;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 2;
  display: block;
}
/* line 115, sass/screen.sass */
#toc .wrap {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  background: white;
}
/* line 125, sass/screen.sass */
#toc .wrap span {
  padding: 2px 3px;
  display: block;
  color: #444444;
}
/* line 130, sass/screen.sass */
#toc .wrap span.blue {
  color: #0093d0;
}
/* line 133, sass/screen.sass */
#toc .wrap span:hover {
  background: #dedede;
}
/* line 136, sass/screen.sass */
#toc .wrap > ul {
  padding: 16px 14px;
}
/* line 139, sass/screen.sass */
#toc .wrap > ul li {
  border-bottom: 1px solid #dddddd;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  cursor: pointer;
  padding: 8px 0;
}
/* line 147, sass/screen.sass */
#toc .wrap > ul li.title {
  border: none;
  padding: 10px 7px;
}
/* line 151, sass/screen.sass */
#toc .wrap > ul li.title.blue {
  background: #1594d0;
}
/* line 154, sass/screen.sass */
#toc .wrap > ul li.title.burg {
  background: #9b544e;
}
/* line 157, sass/screen.sass */
#toc .wrap > ul li.title.gray {
  background: #818285;
  margin-bottom: 20px;
}
/* line 161, sass/screen.sass */
#toc .wrap > ul li.omega {
  border-bottom: none;
}
/* line 165, sass/screen.sass */
#toc .wrap > ul li h2 {
  font-size: 16px;
  font-weight: bold;
  color: white !important;
}
/* line 170, sass/screen.sass */
#toc .wrap > ul li ul {
  list-style: disc;
  margin-left: 15px;
  padding-top: 2px;
}
/* line 175, sass/screen.sass */
#toc .wrap > ul li li {
  font-weight: normal;
  border: 0;
  padding: 0 0 4px;
  margin-left: 5px;
}

/* line 183, sass/screen.sass */
#side-tabs {
  position: absolute;
  right: -16px;
  top: 30px;
  height: 661px;
  width: 45px;
  z-index: 2;
  background: url(../images/tabs.png) no-repeat;
}
/* line 192, sass/screen.sass */
#side-tabs li {
  width: 45px;
  position: absolute;
  left: 0;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  background: url(../images/tabs.png) no-repeat;
}
/* line 203, sass/screen.sass */
#side-tabs li.tab-0 {
  background-position: 0 0;
  height: 179px;
  top: 0;
}
/* line 208, sass/screen.sass */
#side-tabs li.tab-0:hover {
  background-position: -46px 0;
}
/* line 211, sass/screen.sass */
#side-tabs li.tab-1 {
  background-position: 0 -179px;
  height: 101px;
  top: 179px;
}
/* line 216, sass/screen.sass */
#side-tabs li.tab-1:hover {
  background-position: -46px -179px;
}
/* line 219, sass/screen.sass */
#side-tabs li.tab-2 {
  background-position: 0 -280px;
  height: 128px;
  top: 280px;
}
/* line 224, sass/screen.sass */
#side-tabs li.tab-2:hover {
  background-position: -46px -280px;
}

/* line 230, sass/screen.sass */
#book-wrap {
  margin: 0 auto;
  z-index: 5;
  display: none;
}

/* line 235, sass/screen.sass */
#book-matte {
  background: #a0a0a0;
  padding: 29px;
  box-shadow: 5px 5px 5px #777777;
  position: relative;
  float: right;
  z-index: 1;
}

/* line 243, sass/screen.sass */
#book {
  box-shadow: 5px 5px 5px #666666;
  position: relative;
  z-index: 1;
  background: #777777;
}

/* line 261, sass/screen.sass */
.arrow-button {
  background: url(../images/arrow-button.png) no-repeat;
  width: 144px;
  height: 45px;
  display: block;
  cursor: pointer;
  padding: 0 0 0 68px;
  line-height: 45px;
  color: #444444 !important;
  font-size: 15px;
  position: absolute;
  bottom: 35px;
  left: 35px;
}
/* line 275, sass/screen.sass */
.arrow-button:hover {
  background-position: 0 -45px;
}

/* line 278, sass/screen.sass */
ul.big-buttons {
  width: 254px !important;
  margin: 0 auto !important;
  padding-top: 114px !important;
  list-style: none !important;
}
/* line 284, sass/screen.sass */
ul.big-buttons li {
  display: block;
  width: 197px;
  height: 57px;
  font-size: 15px !important;
  padding: 0 0 0 57px !important;
  background: url(../images/buttons.png);
  cursor: pointer;
  line-height: 52px !important;
  margin: 0 0 13px !important;
}
/* line 295, sass/screen.sass */
ul.big-buttons li.multiline {
  line-height: 16.5px !important;
  padding: 9px 0 9px 57px !important;
  height: 39px !important;
}
/* line 300, sass/screen.sass */
ul.big-buttons li:hover, ul.big-buttons li.on {
  background-position: 0 -57px;
}

/* line 305, sass/screen.sass */
ul.small-buttons {
  width: 192px !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  bottom: 25px;
  left: 35px;
}
/* line 314, sass/screen.sass */
ul.small-buttons li {
  display: block;
  width: 146px;
  height: 39px;
  font-size: 13px !important;
  padding: 0 0 0 48px !important;
  background: url(../images/small-button.png);
  cursor: pointer;
  line-height: 39px !important;
  margin: 0 0 11px !important;
}
/* line 325, sass/screen.sass */
ul.small-buttons li:hover, ul.small-buttons li.on {
  background-position: 0 -39px;
}

/* line 330, sass/screen.sass */
div.page {
  width: 488px;
  height: 660px;
  background: white;
  color: #444444;
  position: relative;
}
/* line 338, sass/screen.sass */
div.page.gray-bg {
  background: #818285 !important;
  color: white;
}
/* line 342, sass/screen.sass */
div.page.gray-bg h3 {
  color: white;
}
/* line 347, sass/screen.sass */
div.page h3 {
  font-weight: bold;
  font-size: 19px;
  line-height: 22.4px;
  margin: 0 0 15px;
  padding: 32px 35px 0;
}
/* line 354, sass/screen.sass */
div.page h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  padding-top: 0;
  padding: 0 35px 13px;
}
/* line 361, sass/screen.sass */
div.page p.disclaimer {
  padding: 0 35px 30px !important;
  font-size: 10px !important;
  line-height: 11.4px !important;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 369, sass/screen.sass */
div.page ul {
  list-style: disc;
  padding: 0 35px;
  margin: -9px 0 13px;
}
/* line 374, sass/screen.sass */
div.page ul.lined-border {
  list-style: none;
  border-top: 1px solid #dddddf;
  padding: 0;
  width: 404px;
  margin: -9px auto 20px !important;
}
/* line 381, sass/screen.sass */
div.page ul.lined-border li {
  padding: 10px 12px 6px;
  border-bottom: 1px solid #dddddf;
  margin: 0;
}
/* line 385, sass/screen.sass */
div.page ol {
  list-style: decimal;
  padding: 0 35px;
  margin: -9px 0 13px;
}
/* line 390, sass/screen.sass */
div.page strong {
  font-weight: bold;
}
/* line 393, sass/screen.sass */
div.page a {
  text-decoration: none;
  color: #828282;
}
/* line 401, sass/screen.sass */
div.page.sect-0 p, div.page.sect-0 li {
  margin-bottom: 13px;
  font-size: 13px;
  line-height: 16.4px;
  padding: 0 35px;
}
/* line 407, sass/screen.sass */
div.page.sect-0 li {
  padding: 0;
  margin: 0 0 3px 14px;
}
/* line 411, sass/screen.sass */
div.page.sect-0 h2,
div.page.sect-0 h3,
div.page.sect-0 h4 {
  color: #9b544e !important;
}
/* line 422, sass/screen.sass */
div.page.sect-1 h2,
div.page.sect-1 h3, div.page.sect-2 h2,
div.page.sect-2 h3 {
  color: #9b544e !important;
}
/* line 426, sass/screen.sass */
div.page.sect-1 h2, div.page.sect-2 h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 15px;
  padding: 32px 35px 0;
}
/* line 433, sass/screen.sass */
div.page.sect-1 h3, div.page.sect-2 h3 {
  padding-top: 0;
}
/* line 436, sass/screen.sass */
div.page.sect-1 h4, div.page.sect-2 h4 {
  color: #1594d0;
}
/* line 439, sass/screen.sass */
div.page.sect-1 ul, div.page.sect-2 ul {
  margin: 0 0 20px;
}
/* line 441, sass/screen.sass */
div.page.sect-1 ul.w-p, div.page.sect-2 ul.w-p {
  margin-top: -16px;
}
/* line 444, sass/screen.sass */
div.page.sect-1 p, div.page.sect-1 li, div.page.sect-2 p, div.page.sect-2 li {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 19px;
  padding: 0 35px;
  clear: both;
}
/* line 451, sass/screen.sass */
div.page.sect-1 li, div.page.sect-2 li {
  padding: 0;
  margin: 0 0 3px 14px;
}
/* line 455, sass/screen.sass */
div.page.sect-1 .blue, div.page.sect-2 .blue {
  color: #0093d0;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  padding: 0 35px;
  line-height: 19px;
}
/* line 463, sass/screen.sass */
div.page.burgundy-bg {
  background: #9b544e url(../images/burgundy-page-bg.png) repeat-y;
}
/* line 466, sass/screen.sass */
div.page.blue-bg {
  background: #9b544e url(../images/blue-page-bg.png) repeat-y;
}

/* line 475, sass/screen.sass */
div.page.title-0.sect-0 {
  background: url(../images/cover-bg.png);
}
/* line 483, sass/screen.sass */
div.page.pg-l div.bubble, div.page.pg-k div.bubble {
  -webkit-border-top-left-radius: 11px;
  -webkit-border-bottom-left-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-bottomleft: 11px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  overflow: hidden;
  margin: 0 auto 12px;
  width: 400px;
  color: black;
  background: #f3f3f4;
}
/* line 499, sass/screen.sass */
div.page.pg-l div.bubble h4, div.page.pg-k div.bubble h4 {
  width: 43px;
  height: 100%;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  padding: 0 !important;
}
/* line 507, sass/screen.sass */
div.page.pg-l div.bubble h5, div.page.pg-k div.bubble h5 {
  font-weight: bold;
  font-size: 15px;
  padding: 16px 15px 5px 58px;
  color: #9b544e;
}
/* line 513, sass/screen.sass */
div.page.pg-l div.bubble ul, div.page.pg-k div.bubble ul {
  padding: 0 15px 0 43px;
  margin: 0;
}
/* line 517, sass/screen.sass */
div.page.pg-l div.bubble li, div.page.pg-k div.bubble li {
  font-size: 11px;
  line-height: 12px;
  padding-bottom: 2px;
  margin-left: 29px;
}
/* line 523, sass/screen.sass */
div.page.pg-l div.bubble.b10, div.page.pg-k div.bubble.b10 {
  height: 348px;
}
/* line 526, sass/screen.sass */
div.page.pg-l div.bubble.b10 h4, div.page.pg-k div.bubble.b10 h4 {
  background: #9b544e url(../images/2010.png) 14px 17px no-repeat;
}
/* line 529, sass/screen.sass */
div.page.pg-l div.bubble.b11-12, div.page.pg-k div.bubble.b11-12 {
  height: 142px;
}
/* line 532, sass/screen.sass */
div.page.pg-l div.bubble.b11-12 h4, div.page.pg-k div.bubble.b11-12 h4 {
  background: #9b544e url(../images/11-12.png) 14px 17px no-repeat;
}
/* line 535, sass/screen.sass */
div.page.pg-l div.bubble.b11-12b, div.page.pg-k div.bubble.b11-12b {
  height: 160px;
}
/* line 538, sass/screen.sass */
div.page.pg-l div.bubble.b11-12b h4, div.page.pg-k div.bubble.b11-12b h4 {
  background: #9b544e url(../images/11-12.png) 14px 17px no-repeat;
}
/* line 541, sass/screen.sass */
div.page.pg-l div.bubble.b14, div.page.pg-k div.bubble.b14 {
  height: 332px;
}
/* line 544, sass/screen.sass */
div.page.pg-l div.bubble.b14 h4, div.page.pg-k div.bubble.b14 h4 {
  background: #9b544e url(../images/14.png) 14px 17px no-repeat;
}
/* line 547, sass/screen.sass */
div.page.pg-l div.bubble.b15-18, div.page.pg-k div.bubble.b15-18 {
  height: 97px;
}
/* line 550, sass/screen.sass */
div.page.pg-l div.bubble.b15-18 h4, div.page.pg-k div.bubble.b15-18 h4 {
  background: #9b544e url(../images/15-18.png) 14px 8px no-repeat;
}
/* line 555, sass/screen.sass */
div.page.pg-m span {
  font-size: 12px;
  padding: 3px 0 10px 21px;
  display: block;
  float: left;
  margin-left: 35px;
}
/* line 562, sass/screen.sass */
div.page.pg-m span.red {
  background: url(../images/check-red.png) left top no-repeat;
}
/* line 565, sass/screen.sass */
div.page.pg-m span.blue {
  background: url(../images/check-blue.png) left top no-repeat;
  color: #1594d0;
}
/* line 569, sass/screen.sass */
div.page.pg-m table {
  border-bottom: 1px solid black;
  margin: 0 35px;
}
/* line 573, sass/screen.sass */
div.page.pg-m .thead {
  background: #f3f3f4;
  border-top: 1px solid black;
}
/* line 577, sass/screen.sass */
div.page.pg-m th {
  color: #9b544e;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
}
/* line 583, sass/screen.sass */
div.page.pg-m th.small {
  padding-top: 8px;
  font-size: 10px;
  color: #444444;
}
/* line 588, sass/screen.sass */
div.page.pg-m tr {
  border-top: 1px solid #dddddf;
}
/* line 591, sass/screen.sass */
div.page.pg-m tr.alpha {
  border-top: none;
}
/* line 594, sass/screen.sass */
div.page.pg-m td {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 13px;
}
/* line 599, sass/screen.sass */
div.page.pg-m td.year {
  vertical-align: middle;
  font-size: 10px;
}
/* line 603, sass/screen.sass */
div.page.pg-m td.check.red {
  background: url(../images/check-red.png) center center no-repeat;
  padding: 1px 17px;
}
/* line 607, sass/screen.sass */
div.page.pg-m td.check.blue {
  background: url(../images/check-blue.png) center center no-repeat;
  padding: 1px 4px 1px 27px;
  font-size: 10px;
  vertical-align: middle;
  text-align: right;
  font-weight: bold;
}
/* line 615, sass/screen.sass */
div.page.pg-m footer {
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  padding: 9px 35px 0 35px;
}
/* line 623, sass/screen.sass */
div.page.pg-m h3, div.page.pg-n h3 {
  margin-top: -15px;
}
/* line 627, sass/screen.sass */
div.page.pg-n ol {
  list-style: decimal;
  padding: 0 35px;
}
/* line 631, sass/screen.sass */
div.page.pg-n strong {
  display: block;
}
/* line 634, sass/screen.sass */
div.page.pg-n li {
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
}
/* line 641, sass/screen.sass */
div.page.title-1.sect-1 {
  background: url(../images/overview-bg.png);
}
