

@import compass/reset
@import compass
@import "compass/css3/user-interface"

$dark-gray: #818285
$blue: #1594d0
$burg: #9b544e


body
	font-family: Arial, Helvetica, sans-serif
	background: #e5e5e5

#app-wrap
	position: fixed
	top: 0
	left: 0

	&.book
		overflow: hidden

	&.iOS
		overflow: auto !important
		position: relative

	&.single
		#book-bottom
			width: (976px / 2)

	&.scroll
		position: relative
		top: auto
		left: auto
		
		#headerbar
			display: none

		#side-tabs
			display: none !important

		.page
			margin: 5px auto
			height: 680px

			&.p1, &.p2
				display: none

		nav
			display: none
	

#whiteout
	position: fixed
	top: 0
	left: 0
	z-index: 99999
	background: #e5e5e5

#context
	position:	absolute
	bottom: 694px
	left: 0
	color: #000
	font-size: 12px
	padding: 29px

	a
		color: #000
		text-decoration: none

	h4
		font-size: 16px
		font-weight: bold
		display: inline

	ul
		display: none

	li
		display: none

#headerbar
	height: 36px
	background-color: #9C544D
	width: 100%
	position: absolute
	top: 0
	left: 0
	color: white
	font-size: 0.85em

	> .section
		padding: 10px 0 0 230px


#toc-toggle
	position: fixed
	top: 0
	left: 0
	display: none
	width: 215px
	height: 36px
	line-height: 36px
	text-align: center
	background: #0093d0
	color: #fff

	-webkit-border-bottom-right-radius: 9px
	-moz-border-radius-bottomright: 9px
	border-bottom-right-radius: 9px

	font-size: 16px
	font-weight: bold

	cursor: pointer
	z-index: 50

#toc
	display: none
	width: 360px
	position: fixed
	top: 0
	left: 0
	z-index: 50
	background: #fff

	.close
		position: absolute
		top: 5px
		right: 5px
		cursor: pointer
		padding: 5px 8px
		background: #eee
		font-size: 10px
		text-transform: uppercase
		z-index: 2
		display: block

	.wrap 
		position: absolute
		top: 30px
		left: 0
		width: 100%
		overflow: scroll
		-webkit-overflow-scrolling: touch
		z-index: 1
		background: #fff

		span
			padding: 2px 3px
			display: block
			color: #444

			&.blue
				color: #0093d0

			&:hover
				background: #dedede

		> ul
			padding: 16px 14px

			li
				border-bottom: 1px solid #ddd
				font-size: 13px
				font-weight: bold
				line-height: 16px
				cursor: pointer
				padding: 8px 0

				&.title
					border: none
					padding: 10px 7px

					&.blue
						background: $blue

					&.burg
						background: $burg

					&.gray
						background: $dark-gray
						margin-bottom: 20px

				&.omega
					border-bottom: none


				h2
					font-size: 16px
					font-weight: bold
					color: #fff !important

				ul
					list-style: disc
					margin-left: 15px
					padding-top: 2px

				li
					font-weight: normal
					border: 0
					padding: 0 0 4px
					margin-left: 5px



#side-tabs
	position: absolute
	right: -16px
	top: 30px
	height: 671px
	width: 45px
	z-index: 2
	background: url(../images/tabs.png) no-repeat

	li
		width: 45px
		position: absolute
		left: 0
		text-indent: -9999px
		overflow: hidden
		cursor: pointer

		background: url(../images/tabs.png) no-repeat


		&.tab-0
			background-position: 0 0
			height: 179px
			top: 0

			&:hover
				background-position: -46px 0

		&.tab-1
			background-position: 0 -179px
			height: 101px
			top: 179px

			&:hover
				background-position: -46px -179px

		&.tab-2
			background-position: 0 -280px
			height: 128px
			top: 280px

			&:hover
				background-position: -46px -280px

#book-left
	position: absolute
	left: 17px
	top: 30px
	height: 670px
	width: 12px
	z-index: 2
	background: url(../images/book-left_bg.png) no-repeat 0 0 transparent

#book-bottom
	width: 976px
	height: 11px
	background: url(../images/book-bottom_bg.png) no-repeat 0 0 transparent




#book-wrap
	margin: 0 auto
	z-index: 5
	display: none

#book-matte
	background: #a0a0a0
	padding: 29px
	box-shadow: 5px 5px 5px #777
	position: relative
	float: right
	z-index: 1

#book
	position: relative
	z-index: 1
	background: #777
	// box-shadow: 5px 5px 5px #666





//#app-wrap.double div.page
//	&.even
//		background: #fff url(../images/page-middle-left.png) top right repeat-y

//	&.odd
//		background: #fff url(../images/page-middle-right.png) top left repeat-y


.arrow-button
	background: url(../images/arrow-button.png) no-repeat
	width: 144px
	height: 45px
	display: block
	cursor: pointer
	padding: 0 0 0 68px
	line-height: 45px
	color: #444444 !important
	font-size: 15px
	position: absolute
	bottom: 35px
	left: 35px

	&:hover
		background-position: 0 -45px

ul.big-buttons
	width: 254px !important
	margin: 0 auto !important
	padding-top: 114px !important
	list-style: none !important
	@include user-select(none)

	li
		display: block
		width: 197px
		height: 57px
		font-size: 15px !important
		padding: 0 0 0 57px !important
		background: url(../images/buttons.png)
		cursor: pointer
		line-height: 52px !important
		margin: 0 0 13px !important

		&.multiline
			line-height: 16.5px !important
			padding: 9px 0 9px 57px !important
			height: 39px !important

		&:hover,
		&.on
			background-position: 0 -57px


ul.small-buttons
	width: 192px !important
	list-style: none !important
	padding: 0 !important
	margin: 0 !important
	position: absolute
	bottom: 25px
	left: 35px

	li
		display: block
		width: 144px
		height: 39px
		font-size: 13px !important
		padding: 0 0 0 48px !important
		background: url(../images/small-button.png)
		cursor: pointer
		line-height: 39px !important
		margin: 0 0 11px !important

		&:hover,
		&.on
			background-position: 0 -39px


div.page
	width: 488px
	height: 660px
	background: #fff
	color: #444
	position: relative


	&.gray-bg
		background: $dark-gray !important
		color: #fff

		h3
			color: #fff



	h3
		font-weight: bold
		font-size: 19px
		line-height: 22.4px
		margin: 0 0 15px
		padding: 32px 35px 0

	h4
		font-weight: bold
		font-size: 14px
		line-height: 19px
		padding-top: 0
		padding: 0 35px 13px

	p.disclaimer
		padding: 0 35px 30px !important
		font-size: 10px !important
		line-height: 11.4px !important
		position: absolute
		bottom: 0
		left: 0

	ul
		list-style: disc
		padding: 0 35px
		margin: -9px 0 13px

		&.lined-border
			list-style: none
			border-top: 1px solid #dddddf
			padding: 0
			width: 404px
			margin: -9px auto 20px !important

			li
				padding: 10px 12px 6px
				border-bottom: 1px solid #dddddf
				margin: 0
	ol
		list-style: decimal
		padding: 0 35px
		margin: -9px 0 13px

	strong
		font-weight: bold

	a
		text-decoration: none
		color: #828282

		&[rel=tooltip]
			cursor: pointer


	&.sect-0


		p, li
			margin-bottom: 13px
			font-size: 13px
			line-height: 16.4px
			padding: 0 35px

		li
			padding: 0
			margin: 0 0 3px 14px

		h2,
		h3,
		h4
			color: $burg !important



	&.sect-1,
	&.sect-2


		h2,
		h3
			color: $burg !important
			&.padded
				padding-top: 32px

		h2
			font-weight: bold
			font-size: 26px
			line-height: 32px
			margin: 0 0 15px
			padding: 32px 35px 0

		h3
			padding-top: 0

		h4
			color: $blue

		ul
			margin: 0 0 20px
			&.w-p
				margin-top: -16px

		p, li
			margin-bottom: 20px
			font-size: 15px
			line-height: 19px
			padding: 0 35px
			clear: both
			
		li
			padding: 0
			margin: 0 0 3px 14px

		.blue
			color: #0093d0
			font-weight: bold
			display: block
			margin-bottom: 20px
			padding: 0 35px
			line-height: 19px

	&.burgundy-bg
		background: $burg url(../images/burgundy-page-bg.png) repeat-y

	&.blue-bg
		background: $burg url(../images/blue-page-bg.png) repeat-y


//////////////////////
//  SPECIFIC PAGES  //
//////////////////////
div.page

	&.title-0.sect-0
		background: url(../images/cover-bg.png)


	//Timelines
	&.pg-l,
	&.pg-k

		div.bubble
			-webkit-border-top-left-radius: 11px
			-webkit-border-bottom-left-radius: 11px
			-moz-border-radius-topleft: 11px
			-moz-border-radius-bottomleft: 11px
			border-top-left-radius: 11px
			border-bottom-left-radius: 11px

			overflow: hidden
			margin: 0 auto 12px
			width: 440px

			color: #000

			background: #f3f3f4

			h4
				width: 43px
				height: 100%
				float: left
				overflow: hidden
				text-indent: -9999px
				padding: 0 !important

			h5
				font-weight: bold
				font-size: 15px
				padding: 8px 15px 5px 58px 
				color: $burg

			ul
				padding: 0 15px 0 43px
				margin: 0

			li
				font-size: 11px
				line-height: 12px
				padding-bottom: 1px
				margin-left: 29px

			&.b10
				height: 338px

				h4
					background: $burg url(../images/2010.png) 14px 17px no-repeat

			&.b11-12
				height: 142px

				h4
					background: $burg url(../images/11-12.png) 14px 17px no-repeat

			&.b13
				height: 160px

				h4
					background: $burg url(../images/13.png) 14px 17px no-repeat

			&.b14
				height: 332px

				h4
					background: $burg url(../images/14.png) 14px 17px no-repeat

			&.b15-18
				height: 97px

				h4
					background: $burg url(../images/15-18.png) 14px 8px no-repeat

	&.pg-m

		span
			font-size: 12px
			padding: 3px 0 10px 21px
			display: block
			float: left
			margin-left: 35px

			&.red
				background: url(../images/check-red.png) left top no-repeat

			&.blue
				background: url(../images/check-blue.png) left top no-repeat
				color: $blue

		table
			border-bottom: 1px solid #000
			margin: 0 35px

		.thead
			background: #f3f3f4
			border-top: 1px solid #000

		th
			color: $burg
			font-size: 14px
			padding: 5px
			font-weight: bold

			&.small
				padding-top: 8px
				font-size: 10px
				color: #444444

		tr
			border-top: 1px solid #dddddf

			&.alpha
				border-top: none

		td
			padding: 3px 10px
			font-size: 12px
			line-height: 13px

			&.year
				vertical-align: middle
				font-size: 10px

			&.check.red
				background: url(../images/check-red.png) center center no-repeat
				padding: 1px 17px

			&.check.blue
				background: url(../images/check-blue.png) center center no-repeat
				padding: 1px 4px 1px 27px
				font-size: 10px
				vertical-align: middle
				text-align: right
				font-weight: bold

		footer
			font-size: 10px
			line-height: 12px
			font-style: italic
			padding: 9px 35px 0 35px

	&.pg-m,
	&.pg-n
		h3
			margin-top: -15px

	&.pg-n
		ol
			list-style: decimal
			padding: 0 35px

		strong
			display: block

		li
			padding-bottom: 12px
			font-size: 12px
			line-height: 14px



	&.title-1.sect-1
		background: url(../images/overview-bg.png)




	










